In [21]:
import requests
import sqlite3
import time


lat = '51.5072'
lon = '0.1276'
now = int(time.time())
from key import key

link = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={now}&appid={key}&units=metric'
conn = sqlite3.connect('weather.db')
response = requests.get(link)
response.text

'{"lat":51.5072,"lon":0.1276,"timezone":"Europe/London","timezone_offset":0,"data":[{"dt":1708593601,"sunrise":1708585263,"sunset":1708622726,"temp":11.21,"feels_like":10.68,"pressure":984,"humidity":88,"dew_point":9.3,"uvi":0.13,"clouds":75,"visibility":10000,"wind_speed":5.14,"wind_deg":170,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}]}]}'

In [4]:
data = response.json()
data

{'lat': 51.5072,
 'lon': 0.1276,
 'timezone': 'Europe/London',
 'timezone_offset': 0,
 'data': [{'dt': 1708590535,
   'sunrise': 1708585263,
   'sunset': 1708622726,
   'temp': 10.33,
   'feels_like': 9.77,
   'pressure': 986,
   'humidity': 90,
   'dew_point': 8.76,
   'uvi': 0.04,
   'clouds': 75,
   'visibility': 10000,
   'wind_speed': 5.66,
   'wind_deg': 170,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}]}]}

In [5]:
d1 = {'lat': data['lat'], 'lon': data['lon'], 'timezone': data['timezone'], 'timezone_offset': data['timezone_offset']}

for i in data['data']:
    d1.update(i)

for i in d1['weather']:
    d1.update(i)

d1.pop('weather')

data = d1
data

{'lat': 51.5072,
 'lon': 0.1276,
 'timezone': 'Europe/London',
 'timezone_offset': 0,
 'dt': 1708590535,
 'sunrise': 1708585263,
 'sunset': 1708622726,
 'temp': 10.33,
 'feels_like': 9.77,
 'pressure': 986,
 'humidity': 90,
 'dew_point': 8.76,
 'uvi': 0.04,
 'clouds': 75,
 'visibility': 10000,
 'wind_speed': 5.66,
 'wind_deg': 170,
 'id': 500,
 'main': 'Rain',
 'description': 'light rain',
 'icon': '10d'}

In [23]:
l1 = []

for n, i in data.items():
    l1.append(i)

l1

[51.5072,
 0.1276,
 'Europe/London',
 0,
 1708590032,
 1708585263,
 1708622726,
 10.33,
 9.77,
 986,
 90,
 8.76,
 0.04,
 75,
 10000,
 5.66,
 170,
 500,
 'Rain',
 'light rain',
 '10d']

In [24]:
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.executescript('''

            CREATE TABLE IF NOT EXISTS weather (
                     lat,
                     long,
                     timezone,
                     timezone_offset,
                     date,
                     sunrise,
                     sunset,
                     temp,
                     feels_like,
                     pressure,
                     humidity,
                     dew_point,
                     uvi,
                     clouds,
                     visibility,
                     wind_speed,
                     wind_deg,
                     wind_gust,
                     weather_id,
                     main,
                     description,
                     icon     
        )
    ''')

cursor.execute('INSERT INTO weather VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
                        (l1))
conn.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 22, and there are 21 supplied.

In [ ]:
def drop_table():

    cursor = conn.cursor()

    cursor.executescript('''

        DROP TABLE IF EXISTS weather

    ''')

    conn.commit()

drop_table()

Abandoning ETL method as API only includes available data, leading to errors like:

"ProgrammingError: Incorrect number of bindings supplied. The current statement uses 22, and there are 21 supplied."

In [63]:
try:
    with open('last_executed.txt') as f:
        last_execution_date = float(f.read())
except FileNotFoundError:
        last_execution_date = time.time()

last_execution_date

1708599764.5226393

In [33]:
def delta():
    try:
        with open('last_executed.txt') as f:
            last_execution_date = f.read()
            delta = time.time() - float(last_execution_date)
    except FileNotFoundError:
            delta = 0
    return delta
delta()

240.60427165031433

In [62]:
with open('last_executed.txt', 'w') as f:
            f.write(str(time.time()))

In [53]:
def get_links():
    if last_execution_date // 86400 ==  time.time() // 86400:
        return 'farts'

    links = []

    def build_link(date):
        lat = '51.5072'
        lon = '0.1276'
        from key import key
        link = f'ttps://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={date}&appid={key}&units=metric'
        links.append(link)

    for x in range():
        build_link(x)
        return links

get_links()

'farts'

In [64]:
nearest_hour = last_execution_date - last_execution_date % 3600

print(nearest_hour, last_execution_date)

1708599600.0 1708599764.5226393

In [65]:
nearest_hour/3600/24

19775.458333333332

In [47]:
time.time() // 86400

19775.0

In [44]:
float(last_execution_date) // 86400

19775.0

In [41]:
float(last_execution_date) % 86400

34862.635384082794

In [15]:
import json

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.executescript('''

            CREATE TABLE IF NOT EXISTS weather (
                     
                     data    
        )
    ''')

cursor.execute('INSERT INTO weather VALUES (?)',
                        (data))
conn.commit()

ProgrammingError: Binding 1 has no name, but you supplied a dictionary (which has only names).

In [11]:
import pandas as pd

df = pd.read_sql_query('''SELECT * FROM weather''', conn)
df

Empty DataFrame
Columns: [lat, long, timezone, timezone_offset, date, sunrise, sunset, temp, feels_like, pressure, humidity, dew_point, uvi, clouds, visibility, wind_speed, wind_deg, wind_gust, weather_id, main, description, icon]
Index: []

[0 rows x 22 columns]