In [2]:
import requests
import sqlite3
import time

lat = '51.5072'
lon = '0.1276'
time = int(time.time())
from key import key

link = f'https://api.openweathermap.org/data/3.0/onecall/timemachine?lat={lat}&lon={lon}&dt={time}&appid={key}&units=metric'
conn = sqlite3.connect('weather.db')

response = requests.get(link)
response.text

'{"lat":51.5072,"lon":0.1276,"timezone":"Europe/London","timezone_offset":0,"data":[{"dt":1708524480,"sunrise":1708498985,"sunset":1708536217,"temp":10.95,"feels_like":10.45,"pressure":1001,"humidity":90,"dew_point":9.38,"uvi":0.05,"clouds":100,"visibility":10000,"wind_speed":7.72,"wind_deg":210,"wind_gust":12.86,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}]}]}'

In [3]:
data = response.json()
data

{'lat': 51.5072,
 'lon': 0.1276,
 'timezone': 'Europe/London',
 'timezone_offset': 0,
 'data': [{'dt': 1708524480,
   'sunrise': 1708498985,
   'sunset': 1708536217,
   'temp': 10.95,
   'feels_like': 10.45,
   'pressure': 1001,
   'humidity': 90,
   'dew_point': 9.38,
   'uvi': 0.05,
   'clouds': 100,
   'visibility': 10000,
   'wind_speed': 7.72,
   'wind_deg': 210,
   'wind_gust': 12.86,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}]}]}

In [4]:
data['data']

[{'dt': 1708524480,
  'sunrise': 1708498985,
  'sunset': 1708536217,
  'temp': 10.95,
  'feels_like': 10.45,
  'pressure': 1001,
  'humidity': 90,
  'dew_point': 9.38,
  'uvi': 0.05,
  'clouds': 100,
  'visibility': 10000,
  'wind_speed': 7.72,
  'wind_deg': 210,
  'wind_gust': 12.86,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}]}]

In [5]:
d1 = {}

for i in data['data']:
    d1.update(i)

d1

{'dt': 1708524480,
 'sunrise': 1708498985,
 'sunset': 1708536217,
 'temp': 10.95,
 'feels_like': 10.45,
 'pressure': 1001,
 'humidity': 90,
 'dew_point': 9.38,
 'uvi': 0.05,
 'clouds': 100,
 'visibility': 10000,
 'wind_speed': 7.72,
 'wind_deg': 210,
 'wind_gust': 12.86,
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10d'}]}

In [ ]:
import json

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.executescript('''

            CREATE TABLE IF NOT EXISTS weather (
                     lat
                     long
                     timezone
                     timezone_offset
                     date
                     sunrise
                     sunset
                     temp
                     feels_like
                     pressure
                     humidity
                     dew_point
                     uvi
                     clouds
                     visibility
                     wind_speed
                     wind_deg
                     wind_gust
                     weather_id
                     main
                     description
                     icon
                     
        )
    ''')

for i in data.items():
        cursor.execute('INSERT INTO weather VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
                        (json.dumps(i)))
conn.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 16 supplied.

In [ ]:
import pandas as pd

df = pd.read_json()
df['data'] = df['data'].apply(json.loads)
df['data']

NameError: name 'df' is not defined